
.login main, .register main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    background-color: #f1d367;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
}

.login main h1 , .register main h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #373737;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.login .datos, .register .datos {
    margin-top: 5%;
    width: 50%;
}

.login main h2, .register main h2 {
    color: #373737;
}

.login main input, .register main input {
    background-color: white;
    border: none;
    width: 100%;
    height: 25px;
}

.login .recupera, .register .recupera {
    margin: 10% auto 0;
}

.login main p, .register main p {
    text-align: center;
    color: #373737;
    font-size: 15px;
    margin: auto;
}

.login main a, .register main a {
    text-align: center;
    font-weight: 700;
    margin: auto;
}

.login button, .register button {
    background-color: #312757;
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 45%;
    padding: 10px;
    margin: 5% auto 10%;
}

.login main .rrss, .register main .rrss {
    margin-top: 5%;
}

.login main a img, .register main a img {
    display: inline-block;
    justify-content: space-around;
    width: 20%; 
    margin-left: 10%;
}

/* Register */
.register .inicia {
    margin: 5% auto;
}

@media (min-width: 769px) {
    .login main, .register main {
        width: 800px;
    }
    
    .login button, .register button {
        font-size: 15px;
    }
}