html{
    scroll-behavior: smooth;
  
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #2d2254;;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --Gris: #373737;
    --Violeta: #2d2254;
    --Amarillo: #f1d367;
    --Blanco: #ffffff;
}

/* To top button */
#myBtn {
  position: fixed;
  bottom: 63px;
  right: 3px;
  z-index: 99;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 35px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

 
