.userProfile-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userprofile-buttons{
  display: flex;
}

.card {
  background-color:  rgba(255,255,255,0.5);
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin-top: 5%;
}

.price {
  color: #2D2254;
  font-size: 22px;
}

.card .button, .button-eliminar{
  border: none;
  padding: 12px;
  color: white !important;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .button {
  background-color: #2D2254;
  width: 63%;
}

.card .button:hover {
  color: #2D2254;
  background-color:#f1d367;
}

.button-eliminar{
  background-color: red;
}

.button-eliminar:hover{
  color: #2D2254 ;

}

