<footer class="admin-footer">
    <div>
      <article>
        <a href="/admin"><i class="fas fa-user-cog"></i></a>
        <p>Admin</p>
      </article>
    </div>
    <div>
      <article>
        <a href="/admin/create"><i class="fas fa-plus"></i></a>
        <p>Nuevo</p>
      </article>
    </div>
    <div>
      <article>
        <a href="/admin/userlist"><i class="fas fa-users"></i></a>
        <p>Usuarios</p>
      </article>
    </div>
    <script src="/javascripts/imagePreview.js"></script>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
