<footer class="footer">
    <section class="contacto">
      <h2 class="tfooter">SEGUINOS</h2>
      <div class="rrss">
        <a href="https://facebook.com/"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
        <a href="https://instagram.com/"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
        <a href="https://web.whatsapp.com/"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
      </div>
    </section>

    <section class="medpag">
      <h2 class="tfooter">MEDIOS DE PAGO</h2>
      <div>
      <img src="/images/Iconos redes/descarga.png" alt="Mercado pago" class="mdepago">
      <img src="/images/Iconos redes/descarga (1).png" alt="Efectivo" class="mdepago">
      </div>
      
      <p>Horarios<br>Todos los días de 9 a 23hs</p>
    </section>

    <section class="links">
      <h2 class="tfooter">Escribinos</h2>
       <div>
        <a class="Links" href="http://localhost:3030/contacto"> <i class="fas fa-envelope"></i></a>
       </div>
    </section>
    <script src="/javascripts/go-top.js"></script>

  </footer>