<footer class="footer">
    <section class="contacto">
      <h2 class="tfooter">SEGUINOS</h2>
      <div class="rrss">
        <a href="https://facebook.com/"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
        <a href="https://instagram.com/"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
        <a href="https://web.whatsapp.com/"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
      </div>
    </section>

    <section class="medpag">
      <h2 class="tfooter">MEDIOS DE PAGO</h2>
      <div>
      <img src="/images/Iconos redes/descarga.png" alt="Mercado pago" class="mdepago">
      <img src="/images/Iconos redes/descarga (1).png" alt="Efectivo" class="mdepago">
      </div>
      
      <p>Horarios<br>Todos los días de 9 a 23hs</p>
    </section>

    <section class="links">
      <ul>
        <li><a class="Links" href="/contacto">Contacto</a></li>
        <li><a class="Links" href="/beneficios">Tarjeta de Bonificación</a></li>
        <li><a class="Links" href="/#nos">Nosotros</a></li>
        <li><a class="Links" href="/#suc">Sucursales</a></li>
      </ul>
    </section>
    <script src="/javascripts/go-top.js"></script>
    <script src="/javascripts/carrito.js"></script>

  </footer>