<header>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <div class="flex-header">
        <a href="http://localhost:3030/">
          <img class="logo" src='/images/Menu/logomin.png' alt='Logo' />
        </a>
  
          <div id="input">
            <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
        </div>


          <input type="checkbox" id='user'>
          <label for='user' class="input-user"> <i class="fas fa-user"></i> </label>
          <div class="user-cart">
          <a href="http://localhost:3030/users/carrito"><i class="fas fa-shopping-cart"></i></a>
          </div>


        <input type="checkbox" id='menu'>
        <label for='menu' class="menu-bars">☰</label>
        <nav class="container-menu">
          <ul class="menu">
            <li class="texto"><a href="http://localhost:3030/products">Menu</a> </li>
        </ul>
        <ul class="menu-hiden"><div class="logo-desktop"><a href="http://localhost:3030/"><img src="/images/Menu/logo/Logo.png" alt="logo"></a></div>
        </ul>

        <ul class="menu">
          <li class="texto"><a href="http://localhost:3030/contacto">Contacto</a> </li>
        </ul>
        </nav>

        <nav class="container-user">
          <ul class="user">
            <li class="texto"><a href="http://localhost:3030/users/login">Ingresar</a> </li>
            <li class="texto"><a href="http://localhost:3030/users/register">Registrarse</a> </li>
        </ul>
      </nav>

    </div>
</header>