<header>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <div class="flex-header">
        <a href="/">
          <img class="logo" src='/images/Menu/logomin.png' alt='Logo' />
        </a>
  
          <div id="input">
            <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
        </div>


        <input type="checkbox" id='user'>          
        <% if (locals.userLogin) { %>
          <label for='user' class="input-user"><a href="/users/profile"><img class="imgUser" src="/images/users/<%= locals.userLogin.avatar ? locals.userLogin.avatar : 'default-img.jpg'%>" alt="imagen de usuario"></a></label>
          <div class="user-cart position-relative">
            <a href="/users/carrito"><i class="fas fa-shopping-cart"></i></a>
            <span class=" badge rounded-pill bg-warning text-dark position-absolute bottom-0" id="span-cantidad-cart"></span>
            </div>
          <%  }else{ %> 

        <% } %>
       


        <input type="checkbox" id='menu'>
        <label for='menu' class="menu-bars">☰</label>
        <nav class="container-menu">
          <ul class="menu">
            <li class="texto"><a href="/products">Menu</a> </li>
            <li class="texto"><a href="/beneficios">Beneficios</a> </li>

        </ul>
        <ul class="menu-hiden"><div class="logo-desktop"><a href="/"><img src="/images/Logo.png" alt="logo"></a></div>
        </ul>

        <% if (locals.userLogin) { %>  
          <ul class="menu">      
                <li class="texto"><a href="/users/profile">Mi Perfil</a> </li>
                
                <li class="texto"><a href="/users/logout">Cerrar Sesión</a> </li> 

        <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
          <li class="texto"><a href="/admin">Admin</a> </li>
        <% } %>
              </ul>

        <%  }else{ %>     
          <ul class="menu">                
            <li class="texto"><a href="/users/login">Ingresar</a> </li>
            <li class="texto"><a href="/users/register">Registrarse</a> </li> 
          </ul>
        <% } %>    
        </nav>

    </div>
</header>