<header>
    <div class="flex-header">
        <img class="logo" src='/images/Menu/logomin.png' alt='Logo' />
          <div id="input">
            <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
        </div>


          <input type="checkbox" id='user'>
          <label for='user' class="input-user"> <i class="fas fa-user"></i> </label>
          <div class="user-cart">
          <i class="fas fa-shopping-cart"></i>
          </div>


        <input type="checkbox" id='menu'>
        <label for='menu' class="menu-bars">☰</label>
        <nav class="container-menu">
          <ul class="menu">
            <li class="texto"><a href="">Menu</a> </li>
            <li class="texto"><a href="">Sucursales</a> </li>
        </ul>
        <ul class="menu-hiden"><div class="logo-desktop"><img src="/images/Menu/logo/Logo.png" alt=""></div>
        </ul>

        <ul class="menu">
          <li class="texto"><a href= "">Nosotros</a> </li>
          <li class="texto"><a href="">Contacto</a> </li>
        </ul>
        </nav>

        <nav class="container-user">
          <ul class="user">
            <li class="texto"><a href="">Ingresar</a> </li>
            <li class="texto"><a href="">Registrarse</a> </li>
        </ul>
      </nav>

    </div>
</header>