<div class="row">

    <% products.map(product => { %>
            
    <div class="contenedor">
        <section class="products">
            <a href="/products/detail/<%= product.id %> ">
                <article>
                    <img src="/images/imgmenu/<%= product.images %>" alt= "Foto Producto">
                    <p><%= product.title %></p>
                    <nav>
                        <ul type="none">
                            <li>Cal</li>
                            <li>Gr tot</li>
                            <li>Prot</li>
                            <li>Carb</li>
                        </ul>
                    </nav>
                    <button>Ver más</button>
                </article>
            </a>
        </section>
    </div>

<% }) %>
</div>