<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contacto.css">
    <script src="https://kit.fontawesome.com/ef88cf4afb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
        <div class="flex-header">
            <img class="logo" src='/images/Menu/logomin.png' alt='Logo' />
              <div id="input">
                <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
            </div>
            <div>
              <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
            </div>
            
            <input type="checkbox" id='menu'>
            <label for='menu'>☰</label>
            <ul class="menu">
                <li class="texto"><a href="">Menu</a> </li>
                <li class="texto"><a href="#sucursales">Sucursales</a> </li>
                <li id="li-img"><img src="/images/logomin.png" alt="Logo miniatura"></li>
                <li class="texto"><a href= "#nosotros">Nosotros</a> </li>
                <li class="texto"><a href="">Contacto</a> </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <div style="text-align:center">
              <h2>Contactanos</h2>
              <p>Dejanos tu mensaje</p>
            </div>
            <div class="row">
              <div class="column">
                <img src="/images/Logo.png" style="width:100%">
              </div>
              <div class="column">
                <form action="/action_page.php">
                  <label for="fname">Nombre</label>
                  <input type="text" id="fname" name="Nombre" placeholder="Tu nombre..">
                  <label for="lname">Apellido</label>
                  <input type="text" id="lname" name="Apellido" placeholder="Tu apellido..">
                  <label for="pais">País</label>
                  <select id="country" name="country">
                    <option value="argentina">Argentina</option>
                    <option value="chile">Chile</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="bolivia">Bolivia</option>
                    <option value="paraguay">Paraguay</option>
                  </select>
                  <label for="subject">Mensaje</label>
                  <textarea id="subject" name="subject" placeholder="Escribí tu mensaje aquí.." style="height:170px"></textarea>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
    </main>
    <footer>
        <section id="contacto">
          <h2 class="footer">SEGUINOS</h2>
          <div class="rrss">
            <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
            <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
            <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
          </div>
        </section>
  
        <section id="susc">
          <input class= "email" type="text" value="Email"><a id= "suscribirme" href="">SUSCRIBIRME</a>
          <p>Recibí las ofertas, descuentos y novedades antes que nadie!</p>
        </section>
  
        <section>
          <h2 class="footer">MEDIOS DE PAGO</h2>
          <img src="/images/Iconos redes/descarga.png" alt="Mercado pago" id="mdepago">
          <img src="/images/Iconos redes/descarga (1).png" alt="Efectivo" id="mdepago">
          <p>Horarios<br>Todos los días de 9 a 23hs</p>
        </section>
  
        <section id="links">
          <ul>
            <li><a class="Links" href="">FAQ'S</a></li>
            <li><a class="Links" href="">Contacto</a></li>
            <li><a class="Links" href="">Tarjeta de Bonificación</a></li>
            <li><a class="Links" href="">Nosotros</a></li>
            <li><a class="Links" href="">Sucursales</a></li>
            <li><a class="Links" href="">Mapa de sitio</a></li>
          </ul>
        </section>
      </footer>
  </body>
  </html>