<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href= "/css/detalle-producto.css">
    <!-- <link rel="stylesheet" href= "/css/footer.css"> --> 
</head>
<body>
    <header><h1>Encabezado</h1></header>
    <main>
        <button id= "menu">Volver al Menú</button>
        
        <section id="foto">
          <button class="antsig">&#8249;</button>
          
          <!-- Imagen producto -->
          <img src="/images/Menu/Burrito/Burrito_BOB_990x725.jpg" alt="Foto de producto" width="100%">

         <button class="antsig">&#8250;</button>
        </section>

        <!-- Información producto -->
        <section id="detalle">
            <article class="categoria">categoria / subcategoría</article>
            
            <h1 class="nombreprod">Burrito "Ortega"</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore laborum obcaecati atque nobis soluta dolores voluptatum voluptate vel, repudiandae eaque veritatis, at illo quidem, similique ut culpa aliquam odio. Ab.</p>

          <!-- Gusto de producto -->
            <div #opciones>
            <button class="gusto">Carne</button> <button class="gusto">Pollo</button>
            </div>
            
            <article id="#cantycarr">
            <a href="#" class="cant">-</a>
            <input type="number" class="numero" value="1" >
            <a href="#" class="cant">+</a>
            
            <a href="http://localhost:3030/carrito" class="carrito">Agregar al Carrito</a>
            </article>

            <article class="tablainfo">
                <div class="columna">
                  <div class="carta">650<br>Calorías</div>
                </div>
                <div class="columna">
                  <div class="carta">34<br>Grasas(g)</div>
                </div>
                <div class="columna">
                  <div class="carta">27.6<br>Prot (g)</div>
                </div>
                <div class="columna">
                  <div class="carta">56.2<br>Carb (g)</div>
                </div>
            </article>

            <h2>Información Nutricional</h2>

            <article>
              <table>
                <tr>
                  <td class="c1">Grasa Saturada (g)</td>
                  <td class="c2">14.7</td>
                  <tr>
                    <td class="c1">Grasas trans (g)</td>
                    <td class="c2">1</td>
                  </tr>
                  <tr>
                    <td class="c1">Colesterol (mg)</td>
                    <td class="c2">83.4</td>
                  </tr>
                  <tr>
                    <td class="c1">Azúcares (g)</td>
                    <td class="c2">2.2</td>
                  </tr>
                  <tr>
                    <td class="c1">Sodio (mg)</td>
                    <td class="c2">1464.8</td>
                  </tr>
                  <tr>
                    <td class="c1">Fibra (g)</td>
                    <td class="c2">5.4</td>
                  </tr>
                </tr>
                </tr>
              </table>
            </article>
        </section>
        <section>
          <p id="legales">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ea odit optio, exercitationem a ab rem beatae velit incidunt unde fuga itaque consequatur voluptatem. Quibusdam soluta sint iste perspiciatis error?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae id doloribus quam odio sequi modi ratione vero, magni culpa, similique mollitia!</p>
        </section>
    </main>
    <footer>
      <section>
        <h2 class="footer">SEGUINOS</h2>
        <div class="rrss">
          <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook" width="20vw"></a>
          <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
          <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
        </div>
      </section>

      <section id="susc">
        <input class= "email" type="text" value="Email"><a id= "suscribirme" href="">SUSCRIBIRME</a>
        <p>Recibí las ofertas, descuentos y novedades antes que nadie!</p>
      </section>

      <section>
        <h2 class="footer">MEDIOS DE PAGO</h2>
        <img src="/images/Iconos redes/descarga.png" alt="Mercado pago" id="mdepago">
        <img src="/images/Iconos redes/descarga (1).png" alt="Efectivo" id="mdepago">
        <p>Horarios<br>Todos los días de 9 a 23hs</p>
      </section>

      <section id="Links">
        <ul>
          <li><a href="">FAQ'S</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Tarjeta de Bonificación</a></li>
          <li><a href="">Nosotros</a></li>
          <li><a href="">Sucursales</a></li>
          <li><a href="">Mapa de sitio</a></li>
        </ul>
      </section>
    </footer>
</body>
</html>