<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>Inserte encabezado aquí</header>
    <main>
        <h1>iniciar sesión</h1>
        <article class="datos">
            <h2 >Usuario</h2>
            <input type="text" placeholder="Ingrese su email...">
            <h2>Contraseña</h2>
            <input type="text" placeholder="Ingrese su contraseña...">
        </article>
        <article class="recupera">
            <p>¿Olvidaste tu usuario o contraseña?</p>
            <a href="">Recuperar aquí</a>
        </article>
        <button>Confirmar</button>
        <p>¿Sos nuevo en Tacopado?</p>
        <button>registrarme</button>
        <article class="rrss">
                <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
        </article>
    </main>
</body>
</html>