<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ef88cf4afb.js" crossorigin="anonymous"></script>
</head>
<body class="register">
  <header class="header">
        
    <div class="flex-header">
        <img class="logo" src='/images/logomin.png' alt='Logo' />
          <div id="input">
            <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
        </div>
        <div class="logo-desktop"><img src="/images/Logo.png" alt=""></div>

        <input type="checkbox" id='user'>
        <label for='user' class="input-user"> <i class="fas fa-user"></i> </label>
      </nav>

        <div class="user-cart">
        <i class="fas fa-shopping-cart"></i>

        </div>

        <input type="checkbox" id='menu'>
        <label for='menu'>☰</label>
        <nav class="container-menu">
          <ul class="menu">
            <li class="texto"><a href="">Menu</a> </li>
            <li class="texto"><a href="">Sucursales</a> </li>
        </ul>
        <ul class="menu-hiden"></ul>
        <ul class="menu">
          <li class="texto"><a href= "">Nosotros</a> </li>
          <li class="texto"><a href="">Contacto</a> </li>
        </ul>
        </nav>

        <nav class="container-user">
          <ul class="user">
            <li class="texto"><a href="">Ingresar</a> </li>
            <li class="texto"><a href="">Registrarse</a> </li>
        </ul>

    </div>
</header>
    
    <main>
        <h1>crear cuenta</h1>
        <article class="datos">
            <h2 >Nombre completo</h2>
            <input type="text" placeholder="Ingrese su nombre y apellido...">
            <h2>Correo Electrónico</h2>
            <input type="text" placeholder="Ingrese su email...">
            <h2>Contraseña</h2>
            <input type="text" placeholder="Ingrese su contraseña...">
            <h2>Confirmar contraseña</h2>
            <input type="text" placeholder="Reingrese contraseña...">
        </article>

        <button>Registrarme</button>
        <p>Al crear una cuenta, aceptas las <a href="#">Condiciones de uso</a> y <a href="#">Aviso de privacidad</a> de Tacopado</p>

        <div class="inicia">
            <p>¿Ya tenes una cuenta? <a href="#">Iniciá sesión</a></p>
        </div>

        <article class="rrss">
                <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
        </article>
    </main>
</body>
</html>