<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>Inserte encabezado aquí</header>
    <main>
        <h1>crear cuenta</h1>
        <article class="datos">
            <h2 >Nombre completo</h2>
            <input type="text" placeholder="Ingrese su nombre y apellido...">
            <h2>Correo Electrónico</h2>
            <input type="text" placeholder="Ingrese su email...">
            <h2>Contraseña</h2>
            <input type="text" placeholder="Ingrese su contraseña...">
            <h2>Confirmar contraseña</h2>
            <input type="text" placeholder="Reingrese contraseña...">
        </article>

        <button>Registrarme</button>
        <p>Al crear una cuenta, aceptas las <a href="#">Condiciones de uso</a> y <a href="#">Aviso de privacidad</a> de Tacopado</p>

        <div class="inicia">
            <p>¿Ya tenes una cuenta? <a href="#">Iniciá sesión</a></p>
        </div>

        <article class="rrss">
                <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
                <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
        </article>
    </main>
</body>
</html>