/* FOOTER */
.Detalleprodu footer {
  background-color: #eed887;
  width: 100vw;
  display: block;
  text-align: center;
  margin-top: 40px;
}

/* Títulos footer */
.Detalleprodu .footer {
  background-color: #eed887;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;

  color: #312757;
  margin-top: 40px;
}

/* Iconos rrss */
.Detalleprodu .contacto {
  width: 100%;
}

.Detalleprodu .rrss {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.Detalleprodu section div a img {
  width: 80px;
}

/* Sección suscripción */
.Detalleprodu .susc {
  width: 80%;
  margin: auto;
}

.Detalleprodu .email {
  width: 50%;
  text-align: left;
  background-color: #eed887;
  border: none;
  border-bottom: 1px solid black;
}

.Detalleprodu .suscribirme {
  background-color: #312757;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  font-size: .8em;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  width: 25%;
  padding: 10px;
  margin-top: 15px;
  margin-left: 2%;
  margin-bottom: 20px;
}

/* Iconos medios de pago */
.Detalleprodu .mdepago {
  display: inline-block;
  width: 30vw; 
  margin: 1px;
  box-sizing: border-box;
}

/* Links */
.Detalleprodu .links {
  margin-top: 10%;
}

.Detalleprodu .li {
  text-align: left;
  margin-left: 5%;
}


@media (min-width: 768px) {

  * {
    font-size: 1.1em;
  }

  .Detalleprodu footer {
    display: flex;
    flex-wrap: wrap;
  }

  .Detalleprodu .contacto {
    width: 50%;
  }

  .Detalleprodu .susc {
    order: 1;
    width: 50%;
  }

  .Detalleprodu .links {
    order: 2;
    width: 50%;
  }
  
  .Detalleprodu .medpag {
    order:3;
    width: 50%;
  }
  
  .Detalleprodu .medpag img {
    width: 80px;
  }
}

@media (min-width: 960px) {
  * {
    font-size: 1.1em;
    align-items: flex-start;
  }

  .Detalleprodu .contacto {
    width: 30%;
  }

  .Detalleprodu .medpag {
    order: 3n;
    width: 30%;
  }
  
  .Detalleprodu .medpag img {
    width: 120px;
  }

  .Detalleprodu .links {
    order: 2;
    width: 30%;
  }

  .Detalleprodu .susc {
    order: 1;
    width: 40%;
    align-self: flex-start;
  }
}