<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ef88cf4afb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header></header>
    <main></main>
    
    <footer class="footer">
      <section class="contacto">
        <h2 class="tfooter">SEGUINOS</h2>
        <div class="rrss">
          <a href="#"><img src="/images/Iconos redes/Recurso 1.png" alt="facebook"></a>
          <a href="#"><img src="/images/Iconos redes/Recurso 3.png" alt="instagram"></a>
          <a href="#"><img src="/images/Iconos redes/Recurso 4.png" alt="whatsapp"></a>
        </div>
      </section>

      <section class="susc">
        <input class= "email" type="text" placeholder="Email"><a class="suscribirme" href="">SUSCRIBIRME</a>
        <p>Recibí las ofertas, descuentos y novedades antes que nadie!</p>
      </section>

      <section class="medpag">
        <h2 class="tfooter">MEDIOS DE PAGO</h2>
        <div>
        <img src="/images/Iconos redes/descarga.png" alt="Mercado pago" class="mdepago">
        <img src="/images/Iconos redes/descarga (1).png" alt="Efectivo" class="mdepago">
        </div>
        
        <p>Horarios<br>Todos los días de 9 a 23hs</p>
      </section>

      <section class="links">
        <ul>
          <li><a class="Links" href="">FAQ'S</a></li>
          <li><a class="Links" href="">Contacto</a></li>
          <li><a class="Links" href="">Tarjeta de Bonificación</a></li>
          <li><a class="Links" href="">Nosotros</a></li>
          <li><a class="Links" href="">Sucursales</a></li>
          <li><a class="Links" href="">Mapa de sitio</a></li>
        </ul>
      </section>
    </footer>
</body>
</html>