<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ef88cf4afb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
        
    <div class="flex-header">
        <img class="logo" src='/images/Menu/logomin.png' alt='Logo' />
          <div id="input">
            <input type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar...">
        </div>
        <div class="logo-desktop"><img src="/images/Menu/logo/Logo.png" alt=""></div>

        <input type="checkbox" id='user'>
        <label for='user' class="input-user"> <i class="fas fa-user"></i> </label>
      </nav>

        <div class="user-cart">
        <i class="fas fa-shopping-cart"></i>

        </div>

        <input type="checkbox" id='menu'>
        <label for='menu'>☰</label>
        <nav class="container-menu">
          <ul class="menu">
            <li class="texto"><a href="">Menu</a> </li>
            <li class="texto"><a href="">Sucursales</a> </li>
        </ul>
        <ul class="menu-hiden"></ul>
        <ul class="menu">
          <li class="texto"><a href= "">Nosotros</a> </li>
          <li class="texto"><a href="">Contacto</a> </li>
        </ul>
        </nav>

        <nav class="container-user">
          <ul class="user">
            <li class="texto"><a href="">Ingresar</a> </li>
            <li class="texto"><a href="">Registrarse</a> </li>
        </ul>

    </div>
</header>
</body>
</html>