<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
            <div id="logo"> <a href="Index.html"> <img id="marca" src="img/logo.png">  </a></div>
            <div id="botonera_principal">
                <ul class="menu">
                    <li><a href="Index.html">Menu</a></li>
                    <li><a href="Productos.html">Sucursales</a></li>
                    <li><a href="Formularioweb.html">Nosotros</a></li>
                    <li><a href="Quienes-somos.html">Contacto</a></li>
                </ul>
                
            </div>
    </header>
</body>
</html>