body.beneficios{
    background-image: url('/images/fondo-violeta.png');
}

  .beneficios main h2{
      text-align: center;
      font-size: 2em;
      font-family: 'Open Sans Condensed', sans-serif;
      padding: 0;
      color: white;
      background-color: #2d2254;
      margin-bottom: 30px;
      margin-top: 62px;
  }

  .beneficios main .titulo{
    text-align: center;
    color: #463686;
    background-color: white;
  }

  .beneficios main .contenido{
    text-align: center;
    color: #463686;
    background-color: #f1d367;
  }

.beneficios main table{
  width: 98%;
  max-width: 1000px;
}

.beneficios main section.table-container{
  display: flex;
  justify-content: center;
}