@import url(/stylesheets/general.css);
@import url(/stylesheets/header.css);
@import url(/stylesheets/footer.css);
@import url(/stylesheets/home.css);
@import url(/stylesheets/detalle-producto.css);
@import url(/stylesheets/contacto.css);
@import url(/stylesheets/login-register.css);
@import url(/stylesheets/carga-productos.css);
@import url(/stylesheets/carrito.css);
@import url(/stylesheets/beneficios.css);
@import url(/stylesheets/menu.css);
@import url(/stylesheets/create.css);
@import url(/stylesheets/admin.css);
@import url(/stylesheets/user.css);