<%- include("../partials/head.ejs") %>
<body class="carrito">

    <%- include("../partials/header.ejs") %>

    <main>
        <div class="container" >
            <h1>Tu Pedido</h1>
            <div class="cart" id="box-cart">
                <div class="products" id="box-products">

                  

                </div>
                <div class="cart-total">
                    <p>
                        <span>Precio Total</span>
                        <span id="span-total">$</span>
                    </p>
                    <p>
                        <span>Cantidad de productos</span>
                        <span id="span-cantidad"></span>
                    </p>
                    <a href="#">Pagar</a>
                </div>
            </div>
            <div id="cart-empty" style="display:none">
                <p class="alert alert-warning">No tenés productos agregados al carrito</p>
            </div>
        </div>
    </main>
  
    
        <%- include("../partials/footer.ejs") %>

</body>
</html>