<%- include("../partials/head.ejs") %>
<body class="carrito">

    <%- include("../partials/header.ejs") %>

    <main>
        <div class="container">
            <h1>Tu Pedido</h1>
            <div class="cart">
                <div class="products">

                    <div class="product">
                        <img src="/images/Menu/Tacos/1-beerbatteredfishtaco.png">
                        <div class="product-info">
                            <h3 class="product-name">Taco de pollo</h3>
                            <h4 class="product-price">$ 300</h4>
                        </div>
                            <div>
                            <p class="product-quantity">Cantidad: <input value="1" name=""></p>
                            <p class="product-remove">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <span class="remove">Borrar</span></p>
                            </div>
                        
                    </div>

                    
                </div>
                <div class="cart-total">
                    <p>
                        <span>Precio Total</span>
                        <span>$ 1400</span>
                    </p>
                    <p>
                        <span>Cantidad de productos</span>
                        <span>4</span>
                    </p>
                    <a href="#">Pagar</a>
                </div>
            </div>
        </div>
    </main>
    
    <body>
    
        <%- include("../partials/footer.ejs") %>
        <script src= '/javascripts/carrito.js'></script>
    </body>
    </html>
</body>
</html>