<header>
    <h1>PERFIL MODIFICADO CON ÉXITO</h1>
    <h2>Clickeá en logo para volver al inicio</h2>
  
      <div class="flex-header">
          <a href="/">
            <img class="logo" src='/images/Logo.png' alt='Logo' />
          </a>
    

  
  
  </header>