<%- include("../partials/head.ejs") %>

<body class="formcontacto">

    <%- include("../partials/header.ejs") %>

<main class="login-register">

<div class="container">
  <div class="row">
    <div class="column">
      <img src="/images/Logo.png" style="width:100%">
    </div>
    <div class="column">
      <h1>Crear cuenta</h1>
      <form action="register" method="post">
        <label for="user">Nombre Completo</label>
        <input type="text" id="user" name="name" placeholder="Ingrese usuario...">
        <label for="user">Correo Electrónico</label>
        <input type="text" id="user" name="email" placeholder="Ingrese usuario...">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese contraseña...">
        <label for="password">Confirmar Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese contraseña...">
        <label for="user">Sexo</label>
        <select name="sexo" id="sexo">
        <option name="sexo" selected hidden>Seleccione aquí</option>
        <option name="sexo" id="m">Masculino</option>
        <option name="sexo" id="f">Femenino</option>
        <option name="sexo" id="nc">Prefiero no decirlo</option>
        </select>
        <label for="user">Provincia</label>
        <select name="provincia" id="provincia">
        <option value="provincia" selected hidden>Seleccione aquí</option>
        <option value="provincia">Buenos Aires</option>
        <option value="provincia">Capital Federal</option>
        <option value="provincia">Catamarca</option>
        <option value="provincia">Chaco</option>
        <option value="provincia">Chubut</option>
        <option value="provincia">Córdoba</option>
        <option value="provincia">Corrientes</option>
        <option value="provincia">Entre Ríos</option>
        <option value="provincia">Formosa</option>
        <option value="provincia">Jujuy</option>
        <option value="provincia">La Pampa</option>
        <option value="provincia">La Rioja</option>
        <option value="provincia">Mendoza</option>
        <option value="provincia">Misiones</option>
        <option value="provincia">Neuquén</option>
        <option value="provincia">Río Negro</option>
        <option value="provincia">Salta</option>
        <option value="provincia">San Juan</option>
        <option value="provincia">San Luis</option>
        <option value="provincia">Santa Cruz</option>
        <option value="provincia">Santa Fe</option>
        <option value="provincia">Santiago del Estero</option>
        <option value="provincia">Tierra del Fuego</option>
        <option value="provincia">Tucumán</option>
        </select>
        <label for="avatar">Foto de perfil</label>
        <input type="file" name="avatar">
        
        <div class="buttons">
        <p>Al crear una cuenta, aceptas las <a href="#">Condiciones de uso</a> y <a href="#">Aviso de privacidad</a> de Tacopado</p>
        <input type="submit" value="Registrarme">


        <div>
          <p>¿Olvidaste tu usuario o contraseña?</p>
          <button>Recuperar contraseña</button>
      </div>

        <div>
          <p>¿Ya tenes una cuenta?</p>
          <button>Iniciá sesión</button>
      </div>
      </div>
    </form>
    </div>
  </div>
</div>
</main>

<%- include("../partials/footer.ejs") %>

  </body>
  </html>