<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tacopado!</title>
</head>
<body style="background-image: url(/images/Menu/mobile-gris.png);">
    <div style="width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;">
        <img src="/images/error.png" alt="URL no encontrada" style="width: 70%;" >
        <button href="/">Volvamos por donde vinimos!</button>
    </div>

</body>
</html>