<%- include("./partials/head.ejs") %>

<body class="page-error" >
    <main>
    <div class="image-button-container">
        <img src="../../public/images/500.png" alt="URL no encontrada" >
        <button> <a href="javascript: history.go(-1)"> Volvamos por donde vinimos!</a> </button>
    </div>
    </main>
</body>
</html>