<%- include("./partials/head.ejs") %>
<body class = "beneficios">

    <%- include("./partials/header.ejs") %>

    <main>
     <br>
     <h2>Beneficios</h2>
     <section class="table-container">
      <p>&nbsp;</p>
      <table border="2">
      <tbody>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">Nivel</td>
      <td class="titulo" style="height: 21px; width: 71.9688px;">Basico</td>
      <td class="titulo" style="height: 21px; width: 68.375px;">Medio</td>
      <td class="titulo" style="height: 21px; width: 70.2188px;">Avanzado</td>
      </tr>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">&nbsp;10 puntos</td>
      <td class="contenido" style="height: 21px; width: 71.9688px;">&nbsp;$600</td>
      <td class="contenido" style="height: 21px; width: 68.375px;">$400</td>
      <td class="contenido" style="height: 21px; width: 70.2188px;">$200</td>
      </tr>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">&nbsp;Regalo de cumplea&ntilde;os</td>
      <td class="contenido" style="height: 21px; width: 71.9688px;">&nbsp;<strong>✔</strong></td>
      <td class="contenido" style="height: 21px; width: 68.375px;">&nbsp;<strong>✔</strong></td>
      <td class="contenido" style="height: 21px; width: 70.2188px;">&nbsp;<strong>✔</strong></td>
      </tr>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">&nbsp;Descuento en compras +$500</td>
      <td class="contenido" style="height: 21px; width: 71.9688px;">&nbsp;%5 off</td>
      <td class="contenido" style="height: 21px; width: 68.375px;">%10 off</td>
      <td class="contenido" style="height: 21px; width: 70.2188px;">%15 off</td>
      </tr>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">&nbsp;Voucher inicial</td>
      <td class="contenido" style="height: 21px; width: 71.9688px;">&nbsp;300 puntos</td>
      <td class="contenido" style="height: 21px; width: 68.375px;">400 puntos</td>
      <td class="contenido" style="height: 21px; width: 70.2188px;">500 puntos</td>
      </tr>
      <tr style="height: 21px;">
      <td class="titulo" style="height: 21px; width: 184.438px;">Como lo consigo?</td>
      <td class="contenido" style="height: 21px; width: 71.9688px;">Registrate</td>
      <td class="contenido" style="height: 21px; width: 68.375px;">340 puntos ganados</td>
      <td class="contenido" style="height: 21px; width: 70.2188px;">680 puntos ganados</td>
      </tr>
      </tbody>
      </table>
      <p>&nbsp;</p>
      </section>
      <h2>Canjes por Puntos</h2>
      <section class="table-container">
        <table border="2">
          <tbody>
          <tr>
          <td class="titulo">&nbsp;Nivel</td>
          <td class="titulo">Basico</td>
          <td class="titulo">Medio</td>
          <td class="titulo">Avanzado</td>
          </tr>
          <tr>
          <td class="titulo">&nbsp;Taco</td>
          <td class="contenido" >&nbsp;100</td>
          <td class="contenido" >90</td>
          <td class="contenido" >80</td>
          </tr>
          <tr>
          <td class="titulo">&nbsp;Burrito</td>
          <td class="contenido" >&nbsp;110</td>
          <td class="contenido" >100</td>
          <td class="contenido" >90</td>
          </tr>
          <tr>
          <td class="titulo">Quesadilla&nbsp;</td>
          <td class="contenido" >&nbsp;100</td>
          <td class="contenido" >90</td>
          <td class="contenido" >80</td>
          </tr>
          <tr>
          <td class="titulo">Nachos&nbsp;</td>
          <td class="contenido" >&nbsp;120</td>
          <td class="contenido" >110</td>
          <td class="contenido" >100</td>
          </tr>
          <tr>
          <td class="titulo">Papas&nbsp;</td>
          <td class="contenido" >&nbsp;120</td>
          <td class="contenido" >110</td>
          <td class="contenido" >100&nbsp;</td>
          </tr>
          <tr>
          <td class="titulo">Bebida&nbsp;</td>
          <td class="contenido" >&nbsp;90</td>
          <td class="contenido" >80</td>
          <td class="contenido" >70&nbsp;</td>
          </tr>
          <tr>
          <td class="titulo">Postre&nbsp;</td>
          <td class="contenido" >110</td>
          <td class="contenido" >100</td>
          <td class="contenido" >90</td>
          </tr>
          <tr>
          <td class="titulo">Salsa</td>
          <td class="contenido" >&nbsp;70</td>
          <td class="contenido" >60&nbsp;</td>
          <td class="contenido" >50&nbsp;</td>
          </tr>
          </tbody>
          </table>
      </section>
            
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>