<%- include("./partials/head.ejs") %>
<body class = "beneficios">

    <%- include("./partials/header.ejs") %>

    <main>
     <br>
     <h2>Beneficios</h2>
     <section>
      <div class="paquetes">
        <div class= "nivel">
          <div class = "caja1">
            <h3>Nivel Básico</h3>
            <nav>
             <ul type="none">
               <li>Por cada $600, suma 10 puntos</li>
               <li>Regalo de cumpleaños</li>
               <li>Voucher 2x1</li>
               <li>Por compras superiores a $500, 5% off</li>
               <li>Voucher 300 puntos de bienvenida</li>
             </ul>
            </nav>
          </div>
        </div>
        <div class= "nivel">
          <div class = "caja2">
            <h3>Nivel Medio</h3>
            <nav>
              <ul type="none">
                <li>Por cada $400, suma 10 puntos</li>
                <li>Regalo de cumpleaños</li>
                <li>2 Voucher 2x1</li>
                <li>Por compras superiores a $500, 10% off</li>
                <li>Voucher 400 puntos por subir de nivel</li>
                <li>*Se llega al haber ganado 170 puntos*</li>
             </ul>
            </nav>
          </div>
        </div>
        <div class= "nivel">
          <div class = "caja3">
            <h3>Nivel Avanzado</h3>
            <nav>
              <ul type="none">
                <li>Por cada $200, suma 10 puntos</li>
                <li>Regalo de cumpleaños</li>
                <li>4 Voucher 2x1</li>
                <li>Por compras superiores a $500, 15% off</li>
                <li>Voucher 300 puntos por subir de nivel</li>
                <li>*Se llega al haber ganado 340 puntos*</li>
             </ul>
            </nav>
          </div>
        </div>
      </div>
      </section>
      <h2>Canjes por Puntos</h2>
      <section>
      <div class="canjes">
        <div class= "nivel">
          <div class = "caja4">
           <h3>Nivel Básico</h3>
           <nav>
             <ul type="none">
               <li>Taco.....................100pts</li>
               <li>Burrito..................110pts</li>
               <li>Quesadilla.............100pts</li>
               <li>Nachos.................120pts</li>
               <li>Papas...................120pts</li>
               <li>Bebida...................90pts</li>
               <li>Postre...................110pts</li>
               <li>Salsa......................70pts</li>
            </ul>
           </nav>
          </div>
        </div>
        <div class= "nivel">
          <div class = "caja5">
            <h3>Nivel Medio</h3>
            <nav>
              <ul type="none">
               <li>Taco.......................90pts</li>
               <li>Burrito..................100pts</li>
               <li>Quesadilla..............90pts</li>
               <li>Nachos.................110pts</li>
               <li>Papas...................110pts</li>
               <li>Bebida...................80pts</li>
               <li>Postre...................100pts</li>
               <li>Salsa......................60pts</li>
             </ul>
            </nav>
          </div>
        </div>
        <div class= "nivel">
          <div class = "caja6">
            <h3>Nivel Avanzado</h3>
            <nav>
              <ul type="none">
               <li>Taco......................80pts</li>
               <li>Burrito...................90pts</li>
               <li>Quesadilla..............80pts</li>
               <li>Nachos................100pts</li>
               <li>Papas..................100pts</li>
               <li>Bebida...................70pts</li>
               <li>Postre....................90pts</li>
               <li>Salsa......................50pts</li>
             </ul>
            </nav>
          </div>
        </div>
      </div>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>