<%- include("./partials/head.ejs") %>

  <body class="formcontacto">

    <%- include("./partials/header.ejs") %>

      <main>
        <div class="container">
          <div class="row">
            <div class="column">
              <img src="/images/sucursal3.jpeg" style="width:100%">
            </div>
            <div class="column">
              <form action="/send" method="POST">
                <label for="fname">Nombre</label>
                <input type="text" id="fname" name="Nombre" placeholder="Tu nombre..">
                <label for="lname">Email</label>
                <input type="text" id="lname" name="email" placeholder="Tu Email..">
                <label for="subject">Mensaje</label>
                <textarea id="subject" name="subject" placeholder="Escribí tu mensaje aquí.."
                  style="height:170px"></textarea>
                <input type="submit" id="button" value="Enviar mensaje" class="contactok">

              </form>
            </div>
          </div>
        </div>


        <!-- Script para mail -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

        <script type="text/javascript">
          emailjs.init('user_yNOATuhLWUREVbrsoXdbL')
        </script>

        <!-- 
      User ID : user_yNOATuhLWUREVbrsoXdbL
      Access Token : cb02bed941ccce214a01abb292114a75 
    -->

        <!-- Sweet Alert -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      </main>

      <%- include("./partials/footer.ejs") %>

  </body>
  <script>
    const btn = document.getElementById('button');

    document.getElementById('form')
      .addEventListener('submit', function (event) {
        event.preventDefault();

        btn.value = 'Enviando...';

        const serviceID = 'default_service';
        const templateID = 'template_ykg95fa';

        emailjs.sendForm(serviceID, templateID, this)
          .then(() => {
            btn.value = 'Enviar';
            swal({
              title: "Mensaje enviado!",
              text: "En menos de 72hs nos pondremos en contacto con vos!",
              icon: "success",
              button: "Genial!",
            });
          }, (err) => {
            btn.value = 'Enviar';
            swal({
              title: "Algo salió mal!",
              text: "Tu mensaje no pudo ser enviado. Verificá completar todos los datos e intentá nuevamente",
              icon: "error",
              button: "Ok!",
            });;
          });
      });
  </script>
          <script type="text/javascript">
  
          //   function validate() {
          //     let name = document.querySelector("#fname")
          //     let lastname = document.querySelector("#lname")
          //     let subject = document.querySelector("#subject")
          //     let btn = document.querySelector(".contactok")
  
          //   submit.addEventListener("click", (e) => {
          //     e.preventDefault();
          //     if (name.value == "" || lastname.value == "" || subject.value == "") {
          //       error();
          //     } else {
          //       if (!sendmail()) {
          //         error();
          //         return;
          //       }
          //       sendmail(name.value, lastname.value, subject.value)
          //       success();
          //     }
          //   })
          //   validate();
  
  
          //     function sendmail(name, lastname, subject)
          //     emailjs.send("service_x5r60jj", "template_ykg95fa", {
          //       from_name: name,
          //       to_name: lastname,
          //       message: subject,
          //     });
          //   }
  
          //   function success() {
          //     swal({
          //       title: "Mensaje enviado!",
          //       text: "En menos de 72hs nos pondremos en contacto con vos!",
          //       icon: "success",
          //       button: "Genial!",
          //     });
          //   }
          //   success()
  
          //   function error() {
          //     swal({
          //       title: "Algo salió mal!",
          //       text: "Tu mensaje no pudo ser enviado. Verificá completar todos los datos e intentá nuevamente",
          //       icon: "error",
          //       button: "Ok!",
          //     });
          //   }
          //   error()
  
  
          // </script>
  </html>