<%- include("./partials/head.ejs") %>

  <body class="home">

    <%- include("./partials/header.ejs") %>
      <main>
          <section>
      
      <!-- Slideshow container -->
      <div class="slideshow-container">
      
        <video muted loop autoplay src="/images/video-home/tacopado-video.mp4"></video>

        </div>
        
       <!--          NAV BAR            -->



              <!-- Menu Slide container -->
              <div class="menu-container">

                <!-- Iconos -->
                <div class="icono-container icono-fade">
                  <a href="/products/#taco"><img src="/images/Iconos_Tacotime/Taco_GRIcon_300x300-120x120.png" alt="taco icono">
                  <div class="icono-nombre">Tacos</div></a>
                </div>
              
                <div class="icono-container icono-fade">
                  <a href="/products/#burrito"><img src="/images/Iconos_Tacotime/Burrito_GRIcon_300x300.png" alt="burrito icono">
                  <div class="icono-nombre">Burritos</div></a>
                </div>
              
                <div class="icono-container icono-fade">
                  <a href="/products/#quesa"><img src="/images/Iconos_Tacotime/Quesa_GRIcon_300x300.png" alt="quesadilla icono">
                    <div class="icono-nombre">Quesadillas</div></a>
                  </div>
              
                  <div class="icono-container icono-fade">
                    <a href="/products/#entrada"><img src="/images/Iconos_Tacotime/Nacho_GRIcon_300x300.png" alt="nacho icono">
                    <div class="icono-nombre">Entradas</div></a>
                  </div>
              
                  <div class="icono-container icono-fade">
                    <a href="/products/#salsa"><img src="/images/Iconos_Tacotime/MexiFries_GRIcon_300x300.png" alt="papas icono">
                    <div class="icono-nombre">Salsas</div></a>
                  </div>
              
                  <div class="icono-container icono-fade">
                    <a href="/products/#ensalada"><img src="/images/Iconos_Tacotime/TacoSalad_GRIcon_300x300.png" alt="ensalada icono">
                    <div class="icono-nombre">Ensaladas</div></a>
                  </div>
              
                  <div class="icono-container icono-fade">
                    <a href="/products/#dulce"><img src="/images/Iconos_Tacotime/Dessert_GRIcon_300x300.png" alt="postre icono">
                    <div class="icono-nombre">Dulces</div></a>
                  </div>
                        
                <!-- Next and previous buttons -->
                <a class="previo" onclick="plusSlides(-1)">&#10094;</a>
                <a class="proximo" onclick="plusSlides(1)">&#10095;</a>
              </div>
              
              
               <!--                     TOP MENU                          -->
              
               <section class="top-menu">
                <div>
                  <div class="img-box">
                    <a href="/products/#taco"><img src="/images/Iconos_Tacotime/Taco_GRIcon_300x300-120x120.png" alt="taco icono"></a>
                  </div>
                    <p>Tacos</p>
                </div>
                <div>
                  <div class="img-box">
                    <a href="/products/#burrito"><img src="/images/Iconos_Tacotime/Burrito_GRIcon_300x300.png" alt="burrito icono"></a>
                </div>
                  <p>Burritos</p>
                </div>
                <div>
                  <div class="img-box">
                    <a href="/products/#quesa"><img src="/images/Iconos_Tacotime/Quesa_GRIcon_300x300.png" alt="quesadilla icono"></a>
                </div>
                  <p>Quesadillas</p>
                </div>
              <div class= "items-menu">
                <div>
                  <div class="img-box">
                    <a href="/products/#entrada"><img src="/images/Iconos_Tacotime/Nacho_GRIcon_300x300.png" alt="nacho icono"></a>
                </div>
                  <p>Entradas</p>
                </div>
                <div>
                  <div class="img-box">
                    <a href="/products/#salsa"><img src="/images/Iconos_Tacotime/MexiFries_GRIcon_300x300.png" alt="papas icono"></a>
                </div>
                  <p>Salsas</p>
                </div>
                <div>
                  <div class="img-box">
                    <a href="/products/#ensalada"><img src="/images/Iconos_Tacotime/TacoSalad_GRIcon_300x300.png" alt="ensalada icono"></a>
                </div>
                  <p>Ensaladas</p>
                </div>
                <div>
                  <div class="img-box">
                    <a href="/products/#dulce"><img src="/images/Iconos_Tacotime/Dessert_GRIcon_300x300.png" alt="postre icono"></a>
                </div>
                  <p>Dulces</p>
                </div>
              </div>
              </section>
  
          <section id="nos" class="nosotros">
            <h1>nosotros</h2>
            <div class="nosotros-flex"> <img class="nosotros-img" src="/images/Home/nosotros2.jpg" alt="">
              <h2> Los tacos mas cachondos del condado, nuestra misión es hacer un desmadre de sabor, viva mexico cabrones!</h3>
              </div>
          </section>
  
          <section class="beneficios">
            <% if (locals.userLogin) { %>
              <p>Compa vea aquí sus CHIDOS BENEFICIOS</p>
              <a href="/beneficios"> <button class="unite"> Quiero ver mis beneficios </button></a>
            <%  }else{ %> 
              <p>Compa sumese a la pachanga, y disfrute de CHIDOS BENEFICIOS</p>
              <a href="/users/register"> <button class="unite"> Quiero ser Cuate! </button></a>
            <% } %>
          </section>
          <section class="eligen">
            <h1>Por qué nos eligen...</h1>
            <div class="eligen-flex">
              <div><img src="/images/Home/Eligen/ingrediente1.jpg" alt="">
                <h2>Frijoles irresistibles, se deshacen en su boca!</h2>
              </div>
              <div> <img src="/images/Home/Eligen/ingrediente2.jpg" alt="">
                <h2>Mire esas salsas compa, da hambre de solo verlas!</h2>
              </div>
              <div> <img src="/images/Home/Eligen/ingrediente3.jpg" alt="">
                <h2>La mejor salsa taquera, receta de la casa!</h2>
              </div>
            </div>
            <div class="fondo-eligen">
              <h1>Andas como lima nueva? Pedí tus tacos!</h1>
               <a href="/products"> <button id="ACA"> Ándale! </button> </a>
            </div>
  
          </section>
  
          <section id="suc" class="sucursales">
            <h1>Sucursales</h1>
            <div class="sucursales-flex">
              <div><img src="/images/Home/Sucursal/sucursal1.jpeg" alt="">
                <h2>Lugar amplio, iluminado y con mucha onda, Veni a conocernos!</h2>
              </div>
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26281.729249281663!2d-58.43852501806868!3d-34.5733967631884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20CABA!5e0!3m2!1ses!2sar!4v1635974234383!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>

              <div> <img src="/images/Home/Sucursal/sucursal3.jpeg" alt="">
                <h2>Tenemos espacio al aire libre, ideal para relajarse y disfrutar de nuestro menú!</h2>
              </div>
            </div>
            <div class="fondo-sucursal">
              <h1 class="sucursal-bottom">SE DiCE DE MÍ...</h1>
              <h2 class="sucursal-bottom">Dejanos tu opinión, queremos saber que piensan nuestros clientes!</h2>   
            </div>
  
          </section>
      </main>

      <%- include("./partials/footer.ejs") %>
      <script src="/javascripts/CARROUSEL.js"></script>
      <script src="/javascripts/menu-bar.js"></script>


  </body>
</html>
