<%- include("./partials/head.ejs") %>

  <body class="home">
    
    <%- include("./partials/header.ejs") %>

      <main>
          <section>
      
      <!-- Slideshow container -->
      <div class="slideshow-container">
  
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <!-- <div class="numbertext">1 / 3</div> -->
            <img src="/images/Carrousel/BurritoBowl_SliderImages_1740x715.jpg" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <!-- <div class="numbertext">2 / 3</div> -->
            <img src="/images/Carrousel/razones-comer-tacos-saludables.jpg" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <!-- <div class="numbertext">3 / 3</div> -->
            <img src="/images/Carrousel/EL_BIGOTE_MEXICANO_CANTABRIA_LIERGANES_13.jpg" style="width:100%">
          </div>
        

        </div>
        
       <!--          NAV BAR            -->



              <!-- Menu Slide container -->
<div class="menu-container">

  <!-- Iconos -->
  <div class="icono-container icono-fade">
    <img src="/images/Iconos Tacotime/Taco_GRIcon_300x300-120x120.png" alt="taco icono">
    <div class="icono-nombre">Tacos</div>
  </div>

  <div class="icono-container icono-fade">
    <img src="/images/Iconos Tacotime/Burrito_GRIcon_300x300.png" alt="burrito icono">
    <div class="icono-nombre">Burritos</div>
  </div>

  <div class="icono-container icono-fade">
      <img src="/images/Iconos Tacotime/Quesa_GRIcon_300x300.png" alt="quesadilla icono">
      <div class="icono-nombre">Quesadillas</div>
    </div>

    <div class="icono-container icono-fade">
      <img src="/images/Iconos Tacotime/Nacho_GRIcon_300x300.png" alt="nacho icono">
      <div class="icono-nombre">Nachos</div>
    </div>

    <div class="icono-container icono-fade">
      <img src="/images/Iconos Tacotime/MexiFries_GRIcon_300x300.png" alt="papas icono">
      <div class="icono-nombre">Papas</div>
    </div>

    <div class="icono-container icono-fade">
      <img src="/images/Iconos Tacotime/TacoSalad_GRIcon_300x300.png" alt="ensalada icono">
      <div class="icono-nombre">Ensaladas</div>
    </div>

    <div class="icono-container icono-fade">
      <img src="/images/Iconos Tacotime/Dessert_GRIcon_300x300.png" alt="postre icono">
      <div class="icono-nombre">Postres</div>
    </div>
          
  <!-- Next and previous buttons -->
  <a class="previo" onclick="plusSlides(-1)">&#10094;</a>
  <a class="proximo" onclick="plusSlides(1)">&#10095;</a>
</div>


      <!--                     PRODUCTOS                   -->
<section class="articulos">
  <div class="productos">
    <div class="contenedor">
      <div class="art1">
        <article>
          <img src='/images/Menu/Tacos/Taco_BFT_Beef_990x725.jpg' alt="Foto Taco">
          <p>Descripción</p>
          <nav>
            <ul type="none">
              <li>Cal</li>
              <li>Gr tot</li>
              <li>Prot</li>
              <li>Carb</li>
            </ul>
          </nav>
          <div class="botonera-contenedor">
            <button class="ver-mas">ver más</button>
            <button class="plus">+</button>
          </div>

        </article>
      </div>
    </div>
    
    <div class="contenedor">
      <div class="art2">
        <article>
          <img src='/images/Menu/Tacos/Taco_Muchaco_Beef_990x725.jpg' alt="Foto Taco">
          <p>Descripción</p>
          <nav>
            <ul type="none">
              <li>Cal</li>
              <li>Gr tot</li>
              <li>Prot</li>
              <li>Carb</li>
            </ul>
          </nav>
          <div class="botonera-contenedor">
            <button class="ver-mas">ver más</button>
            <button class="plus">+</button>
          </div>

        </article>
      </div>
    </div>
    
    <div class="contenedor">
      <div class="art3">
        <article>
          <img src='/images/Menu/Tacos/Taco_Crispy_Beef_990x725.jpg' alt="Foto Taco">
          <p>Descripción</p>
          <nav>
            <ul type="none">
              <li>Cal</li>
              <li>Gr tot</li>
              <li>Prot</li>
              <li>Carb</li>
            </ul>
          </nav>
          <div class="botonera-contenedor">
            <button class="ver-mas">ver más</button>
            <button class="plus">+</button>
          </div>

        </article>
      </div>
    </div>
    
    <div class="contenedor">
      <div class="art4">
        <article>
          <img src='/images/Menu/Tacos/Taco_Soft_Beef_990x725.jpg' alt="Foto Taco">
          <p>Descripción</p>
          <nav>
            <ul type="none">
              <li>Cal</li>
              <li>Gr tot</li>
              <li>Prot</li>
              <li>Carb</li>
            </ul>
          </nav>
          <div class="botonera-contenedor">
            <button class="ver-mas">ver más</button>
            <button class="plus">+</button>
          </div>


        </article>
      </div>
    </div>
  </div>
</section>
    
             <!--                     NOSOTROS                   -->


          <section class="nosotros">
            <h1>nosotros</h2>
            <div class="nosotros-flex"> <img class="nosotros-img" src="/images/Home/nosotros2.jpg" alt="">
              <h2> Los tacos mas cachondos del condado, nuestra misión es hacer un desmadre de sabor, viva mexico cabrones!</h3>
              </div>
          </section>
  
          <section class="beneficios">
            <p>Compa sumese a la pachanga, y disfrute de CHIDOS BENEFICIOS</p>
            <button class="unite">Quiero ser Cuate!</button>
          </section>
  
          <section class="eligen">
            <h1>Por qué nos eligen...</h1>
            <div class="eligen-flex">
              <div><img src="/images/Home/Eligen/ingrediente1.jpg" alt="">
                <h2>Frijoles irresistibles, se deshacen en su boca!</h2>
              </div>
              <div> <img src="/images/Home/Eligen/ingrediente2.jpg" alt="">
                <h2>Mire esas salsas compa, da hambre de solo verlas!</h2>
              </div>
              <div> <img src="/images/Home/Eligen/ingrediente3.jpg" alt="">
                <h2>La mejor salsa taquera, receta de la casa!</h2>
              </div>
            </div>
            <div class="fondo-eligen">
              <h1>Andas como lima nueva? Pedí tus tacos!</h1>
              <button id="ACA">Ándale!</button>
            </div>
  
          </section>
  
                <!--                     SUCURSALES                   -->

          <section class="sucursales">
            <h1>Sucursales</h1>
            <div class="sucursales-flex">
              <div><img src="/images/Home/Sucursal/sucursal1.jpeg" alt="">
                <h2>Lugar amplio, iluminado y con mucha onda, Veni a conocernos!</h2>
              </div>
              <div> <img src="/images/Home/Sucursal/sucursal2.jpg" alt="">
                <h2>Comida rica + comodidad + buena musica, alto combo chabon! </h2>
              </div>
              <div> <img src="/images/Home/Sucursal/sucursal3.jpeg" alt="">
                <h2>Tenemos espacio al aire libre, ideal para relajarse y disfrutar de nuestro menú!</h2>
              </div>
            </div>
            <div class="fondo-sucursal">
              <h1 class="sucursal-bottom">SE DiCE DE MÍ...</h1>
              <h2 class="sucursal-bottom">Dejanos tu opinión, queremos saber que piensan nuestros clientes!</h2>   
            </div>
  
          </section>
      </main>
  
      <%- include("./partials/footer.ejs") %>
  
      <script src="/javascripts/CARROUSEL.js"></script>
      <script src="/javascripts/menu-bar.js"></script>

  
  </body>
</html>
