<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<body class="loader">
    <img src="/images/tacoloader.png" alt="Taco" width="250vw">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h2 id="loader">Cargando los mejores ingredientes para vos...</h2>
    <script src="/javascripts/loader.js"></script>
</body>

</html>