<%- include("./partials/head.ejs") %>

<body class = "menu">
   
        <%- include("./partials/header.ejs") %>

      <main>
      <section class="top-menu">
          <div>
              <img src="/images/Iconos Tacotime/Taco_GRIcon_300x300-120x120.png" alt="taco icono">
              <p>Tacos</p>
          </div>
          <div>
            <img src="/images/Iconos Tacotime/Burrito_GRIcon_300x300.png" alt="burrito icono">
            <p>Burritos</p>
          </div>
          <div>
            <img src="/images/Iconos Tacotime/Quesa_GRIcon_300x300.png" alt="quesadilla icono">
            <p>Quesadillas</p>
          </div>
        <div class= "items-menu">
          <div>
            <img src="/images/Iconos Tacotime/Nacho_GRIcon_300x300.png" alt="nacho icono">
            <p>Nachos</p>
          </div>
          <div>
            <img src="/images/Iconos Tacotime/MexiFries_GRIcon_300x300.png" alt="papas icono">
            <p>Papas</p>
          </div>
          <div>
            <img src="/images/Iconos Tacotime/TacoSalad_GRIcon_300x300.png" alt="ensalada icono">
            <p>Ensaladas</p>
          </div>
          <div>
            <img src="/images/Iconos Tacotime/Dessert_GRIcon_300x300.png" alt="postre icono">
            <p>Postres</p>
          </div>
        </div>
      </section>
      <section class="slogan">
          <h3>Todo lo que estabas esperando</h3>
          <p>Comida fresca preparada en nuestras cocinas. 
             Ingredientes reales y sabores que te harán agua la boca.</p>
      </section>
      <section class="articulos">
       <h2>Tacos</h2>
       <div  class="productos">
         <div  class="contenedor">
            <div class="art1">  
             <article>
                 <img src='/images/Menu/Tacos/Taco_BFT_Beef_990x725.jpg' alt= "Foto Taco">
                 <p>Descripción</p>
                 <nav>
                     <ul type="none">
                         <li>Cal</li>
                         <li>Gr tot</li>
                         <li>Prot</li>
                         <li>Carb</li>
                     </ul>
                 </nav>
                 <button>ver más</button>
             </article>
            </div> 
         </div>
         <br>
         <div  class="contenedor">
            <div class="art2">
             <article>
                 <img src='/images/Menu/Tacos/Taco_Muchaco_Beef_990x725.jpg' alt= "Foto Taco">
                 <p>Descripción</p>
                 <nav>
                     <ul type="none">
                         <li>Cal</li>
                         <li>Gr tot</li>
                         <li>Prot</li>
                         <li>Carb</li>
                     </ul>
                 </nav>
                 <button>ver más</button>
             </article>
            </div> 
         </div>
         <br>
         <div  class="contenedor">
            <div class="art3">
             <article>
                 <img src='/images/Menu/Tacos/Taco_Crispy_Beef_990x725.jpg' alt= "Foto Taco">
                 <p>Descripción</p>
                 <nav>
                     <ul type="none">
                         <li>Cal</li>
                         <li>Gr tot</li>
                         <li>Prot</li>
                         <li>Carb</li>
                     </ul>
                 </nav>
                 <button>ver más</button>
             </article>
            </div> 
         </div>
         <br>
         <div  class="contenedor">
            <div class="art4">
             <article>
              <img src='/images/Menu/Tacos/Taco_Soft_Beef_990x725.jpg' alt= "Foto Taco">
              <p>Descripción</p>
              <nav>
                  <ul type="none">
                      <li>Cal</li>
                      <li>Gr tot</li>
                      <li>Prot</li>
                      <li>Carb</li>
                  </ul>
              </nav>
              <button>ver más</button>
             </article>
            </div> 
         </div>
       </div>  
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>